Fernando José Garavito Ovando 18071

Sebastián Maldonado Arnau 18003

# Laboratorio 2 Detección de SPAM

In [54]:
import pandas as pd
import nltk, re, contractions
import unicodedata

## Parte 1 - Ingeniería de características

### Cargar datasets y unirlos

In [11]:
df1 = pd.read_csv("completeSpamAssassin.csv")
df1.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [12]:
df1 = df1.drop('Unnamed: 0', axis=1)
print(df1.shape)
df1.head()

(6046, 2)

                                                Body  Label
0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3  ##############################################...      1
4  I thought you might like these:\n1) Slim Down ...      1

In [13]:
df2 = pd.read_csv("enronSpamSubset.csv")
df2.head()

,Unnamed: 0.1,Unnamed: 0,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063,Subject: are you listed in major search engine...,1
2,12564,12564,"Subject: important information thu , 30 jun 20...",1
3,2796,2796,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things...",1

In [14]:
df2 = df2.drop('Unnamed: 0.1', axis=1)
df2 = df2.drop('Unnamed: 0', axis=1)
print(df2.shape)
df2.head()

(10000, 2)

                                                Body  Label
0  Subject: stock promo mover : cwtd\n * * * urge...      1
1  Subject: are you listed in major search engine...      1
2  Subject: important information thu , 30 jun 20...      1
3  Subject: = ? utf - 8 ? q ? bask your life with...      1
4  Subject: " bidstogo " is places to go , things...      1

In [10]:
df = pd.concat([df1,df2])
print(df.shape)
df.head()

(16046, 2)

                                                Body  Label
0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3  ##############################################...      1
4  I thought you might like these:\n1) Slim Down ...      1

### Preprocesamiento de texto

In [26]:
df['Body']

0       \nSave up to 70% on Life Insurance.\nWhy Spend...
1       1) Fight The Risk of Cancer!\nhttp://www.adcli...
2       1) Fight The Risk of Cancer!\nhttp://www.adcli...
3       ##############################################...
4       I thought you might like these:\n1) Slim Down ...
                              ...
9995    Subject: monday 22 nd oct\n louise ,\n do you ...
9996    Subject: missing bloomberg deals\n stephanie -...
9997    Subject: eops salary survey questionnaire\n we...
9998    Subject: q 3 comparison\n hi louise ,\n i have...
9999    Subject: confidential folder to safely pass in...
Name: Body, Length: 16046, dtype: object

In [57]:
stop_words = nltk.corpus.stopwords.words('english')
def procesar(doc):
    doc = str(doc)
    doc = doc.lower()
    doc = contractions.fix(doc)
    doc = unicodedata.normalize('NFKD', doc).encode('ascii','ignore').decode('utf-8','ignore')
    doc = re.sub(r'[^a-z\s]','',doc)
    tokens = nltk.word_tokenize(doc)
    filtered = [token for token in tokens if token not in stop_words]
    doc = ' '.join(filtered)
    
    return doc

In [58]:
df['Body'] = df['Body'].apply(procesar)
df.sample(10)

                                                   Body  Label
3723  subject localized software languages available...      1
1953  subject superior prescripiton pills diopter gi...      1
3541  subject security alert confirm national credit...      1
7891  subject tage resume submittal vince two candid...      0
1716  subject undelivered mail returned sender postf...      1
3207  subject conference dc july th rebuilding iraq ...      1
456   viagra xenical vioxx zyban propecia offer real...      1
2544  thursday sep europelondon bill kearney wrote c...      0
8203  subject risk bucketing p l ken greg absoutely ...      0
1147  subject guaranteed month find cowpea arrive sc...      1

### Modelos BoG y TF-IDF

## Parte 2 - Implementación